
@{
    ViewBag.Title = "Speaker";
}

@using HmsService.Models.Entities;
@model Event

@{
    var listSpeaker = Model.EventCollections.FirstOrDefault(e => e.EventCollectionID == 2).CollectionItems;
}
<div class="row">
    @{
        foreach (var item in listSpeaker)
        {
            <div class="col-md-4 col-sm-8 col-12" onclick="showModalSpeaker('@(item.Name)', '@(item.Description)')">
                <div class="box-speaker-shadow">
                    <a href="" data-toggle="modal" data-target="#speakerModal">
                        <img class="img-fluid image-speaker-custom" src="@(item.ImageUrl)" alt="brand">
                    </a>
                    <div class="item-title">
                        <h3 class="title title-medium" style="text-align:center">
                            <a class="speaker-name">@(item.Name)</a>
                        </h3>
                    </div>
                </div>
            </div>
        }
    }

</div>

<div id="speakerModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title speaker-title">a</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p class="speaker-description"></p>
            </div>
            <div class="modal-footer">
                <button  type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        function showModalSpeaker(name, description) {
            $('.speaker-title').html(name);
            $('.speaker-description').html(description);
        }

    </script>
}
