@{
    ViewBag.Title = "Home Page";
}
@using HmsService.Models.Entities;
@model Event

<div class="container-fluid">
    <div class="animated fadeIn">
        <div class="event-banner" style="position: relative; height: auto;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); margin-top: 30px;">
            <img style="width:100%;height:auto" src="~/Content/img/new_statesman_events.jpg">
            <div class="header" style="position: absolute;bottom: 15px;background: rgba(12, 12, 12, 0.5);">
                <h3 class="event-name text-white" style="padding: 10px 20px; font-size:1em;">The Capstone Project Defense Ceremony</h3>
            </div>
        </div>
        <br>
    </div>
    <div class="animated fadeIn">
        <div class="card-content" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); background: white; border: 1px solid #dbdee0; margin-bottom: 15px; padding: 20px;">
            <div class="description p-10">
                <h4 class="section-title">Introduction</h4>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-4 name-title">Event Name</div>
                            <div class="col-sm-8 evtinfo">@Html.Raw(Model.Name)</div>
                        </div>

                        <div class="row">
                            <div class="col-sm-4 name-title">Time</div>
                            <div class="col-sm-8 evtinfo">@Html.Raw(Model.StartTime)</div>
                        </div>

                        <div class="row">
                            <div class="col-sm-4 name-title">Address</div>
                            <div class="col-sm-8 evtinfo">@Html.Raw(Model.Address)</div>
                        </div>

                        <div class="row">
                            <div class="col-sm-4 name-title">Description</div>
                            <div class="col-sm-8 evtinfo">@Html.Raw(Model.EventDescription)</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>