@{
    ViewBag.Title = "Quản lý hỏi đáp";
    string curPath = Request.Url.GetLeftPart(UriPartial.Authority) + Request.ApplicationPath;
    int eventId = ViewBag.EventId;
}


<div class="container" style="width:100%">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <div class="row">
                <h2 class="col-sm-10">Quản Lý Hỏi Đáp</h2>
                <div class="col-sm-2">
                    <button class="btn btn-primary" type="submit" data-toggle="modal" data-target="#addQAModal" style="margin-top:20px">
                        <i class="fa fa-plus" style="margin-right:7px" aria-hidden="true"></i>Thêm
                    </button>
                </div>
            </div>
        </div>
        <!-- DataTable -->
        <div class="ibox-content">
            <table class="table table-hover table-bordered" id="tblQA">
                <thead>
                    <tr>
                        <th>Tên</th>
                        <th>Chức Năng</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="editQAModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h2 class="modal-title">Chỉnh Sửa Hỏi Đáp</h2>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 col-xs-12">
                        <div class="row qa-container" id="qa-container">
                            
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
            </div>
        </div>

    </div>
</div>

<!--Edit Name Qa Modal-->
<div class="modal fade" id="editQANameModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Sửa hỏi đáp</h4>
            </div>
            <div class="modal-body">
                <div class="form-group form-name">
                    <label class="col-sm-3 form-control-label">Tên:</label>
                    <div class="col-sm-9 input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-briefcase" aria-hidden="true"></i>
                        </div>
                        <input id="editName" type="text" class="form-control" placeholder="Nhập tên của hỏi đáp">
                    </div>

                    <p class="empty col-lg-offset-3" id="emptyWarningEdit">Vui lòng nhập tên hỏi đáp!</p>
                   
                </div>
                <div class="modal-footer">
                    <button id="btnEdit" type="button" class="btn btn-primary" data-dismiss="modal" style="margin-top:5px">Thêm</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Delete Question Modal-->
<div class="modal fade" id="deleteQuestionModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h2 class="modal-title">Bạn có chắc</h2>
            </div>
            <div class="modal-body">
                <h3 class="question-del-title"></h3>
            </div>
            <div class="modal-footer">
                <button id="btn-del-question" type="button" class="btn btn-default question-del-id" data-dismiss="modal">Xóa</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
            </div>
        </div>

    </div>
</div>

<!--Delete Comment Modal-->
<div class="modal fade" id="deleteCommentModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h2 class="modal-title">Bạn có chắc</h2>
            </div>
            <div class="modal-body">
                <h3 class="comment-del-title"></h3>
            </div>
            <div class="modal-footer">
                <button id="btn-del-comment" type="button" class="btn btn-default comment-del-id" data-dismiss="modal">Xóa</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
            </div>
        </div>

    </div>
</div>


<div class="modal fade" id="addQAModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Thêm Hỏi Đáp</h4>
            </div>
            <div class="modal-body">
                <div class="form-group form-name">
                    <label class="col-sm-3 form-control-label">Tên:</label>
                    <div class="col-sm-9 input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-briefcase" aria-hidden="true"></i>
                        </div>
                        <input id="newName" type="text" class="form-control" placeholder="Nhập tên của hỏi đáp">
                    </div>
                    <p class="col-lg-offset-3 empty" id="emptyWarning">Vui lòng nhập tên hỏi đáp!</p>
                </div>
                <div class="modal-footer">
                    <button id="btn-add" type="button" class="btn btn-primary" data-dismiss="modal" style="margin-top:5px">Thêm</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="deleteQAModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h2 class="modal-title">Bạn có chắc</h2>
            </div>
            <div class="modal-body">
                <h3 class="qa-del-title"></h3>
            </div>
            <div class="modal-footer">
                <button id="btn-del" type="button" class="btn btn-default qa-del-id" data-dismiss="modal">Xóa</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
            </div>
        </div>
    </div>
</div>


<!--Template Question-->
<div id="template-question" style="display:none">
    <div class="card list-qa" id="question">
        <div class="card main-qa">
            <span class="username-content"></span>
            <br />
            <span class="create-time"></span>
            <button id="btn-delete-question" class="btn btn-sm btn-reply btn-danger btn-delete-question" onclick="delQuestion()">Xóa</button>
            <button id="btnCheckAnswered" class="btn-check-answered btn btn-sm btn-reply btn-default" onclick="checkIsAnswered()">Chưa trả lời</button>
        </div>
    </div>
</div>

<!--Template comment-->
<div id="template-comment" style="display:none">
    <div class="card-header list-answer" id="comment">
        <span id="username-reply"></span>
        <span id="reply-content"></span>
        <br />
        <span id="reply-time"></span>
        <button id="btn-delete-comment" class="btn btn-sm btn-reply btn-danger" onclick="delComment()">Xóa</button>
    </div>
</div>


<input type="hidden" id="questionId" value="" />
<input type="hidden" id="txtEventId" value="@(eventId)" />
@section scripts {
    <script>
        var urlApi = '@curPath';
        var eventId = @eventId;

        function delQuestion(questionId) {
            swal({
                title: "Bạn có chắc?",
                text: "Bạn có chắc chắn, bạn sẽ không thể phục hồi lại!",
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn-danger",
                confirmButtonText: "Xóa!",
                cancelButtonText: "Hủy!",
                closeOnConfirm: false
            },
                function () {
                    
                    $.ajax({
                        url: urlApi + '/api/QA/DeleteQuestion',
                        method: "POST",
                        data: {
                            QuestionId: questionId,
                        },
                        success: function (data) {
                            $('#question-' + questionId).remove();
                            swal("Xóa!", "Câu hỏi đã được xóa thành công", "success");
                        },
                        error: function (data) {
                            console.log(data);
                        }
                    });
                });
        }

        function delComment(id, name) {
            swal({
                title: "Bạn có chắc?",
                text: "Bạn có chắc chắn, bạn sẽ không thể phục hồi lại!",
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn-danger",
                confirmButtonText: "Xóa!",
                cancelButtonText: "Hủy!",
                closeOnConfirm: false
            },
                function () {

                    $.ajax({
                        url: urlApi + '/api/QA/DeleteComment',
                        method: "POST",
                        data: {
                            CommentId: id,
                        },
                        success: function (data) {
                            $('#comment-' + id).remove();
                            swal("Xóa!", "Bình luận đã được xóa thành công", "success");
                        },
                        error: function (data) {
                            console.log(data);
                        }
                    });
                });
        }

        //function delQA(id, name) {
        //    $('.qa-del-id').val(id);
        //    $('.qa-del-title').html("Delete QA " + name);
        //}

        function editQA(id, name) {
            $.ajax({
                url: urlApi +  '/api/QA/getAllQuestionComment',
                method: "POST",
                data: {
                    QAId: id
                },
                success: function (data) {
                    $('#qa-container').empty();
                    for (var i = 0; i < data.data.length; i++) {
                        var templateQuestion = $('#template-question').clone();
                        templateQuestion.find('.list-qa').attr('id', 'question-' + data.data[i].QuestionId + '');
                        templateQuestion.find('.username-content').html('<b>' + data.data[i].Username + '</b> : ' + data.data[i].QuestionContent + '');
                        templateQuestion.find('.create-time').text('' + data.data[i].CreateTime + '');
                        templateQuestion.find('#btn-delete-question').attr('onclick', 'delQuestion(' + data.data[i].QuestionId + ')');
                        //templateQuestion.find('.btn-delete-question').attr('value', data.data[i].QuestionId);
                        templateQuestion.find('.btn-check-answered').attr('onclick', 'checkIsAnswered(' + data.data[i].QuestionId + ')');
                        templateQuestion.find('.btn-check-answered').attr('id', 'btnCheckAnswered' + data.data[i].QuestionId);
                        if (data.data[i].IsAnswered) {
                            templateQuestion.find('.btn-check-answered').removeClass('btn-default');
                            templateQuestion.find('.btn-check-answered').addClass('btn-success');
                            templateQuestion.find('.btn-check-answered').text('Đã trả lời');
                            templateQuestion.find('.main-qa').css('background-color', '#bbd9c5');
                        }
                        $('#qa-container').append(templateQuestion.html());
                        for (var j = 0; j < data.data[i].Comments.length; j++) {
                            var templateComment = $('#template-comment').clone();
                            templateComment.find('.list-answer').attr('id', 'comment-' + data.data[i].Comments[j].CommentId + '');
                            templateComment.find('#username-reply').html('<b>' + data.data[i].Comments[j].Username + '</b>: ');
                            templateComment.find('#reply-content').text('' + data.data[i].Comments[j].CommentContent + '');
                            templateComment.find('#reply-time').text('' + data.data[i].Comments[j].CreateTime + '');
                            templateComment.find('#btn-delete-comment').attr('onclick', 'delComment(' + data.data[i].Comments[j].CommentId + ')');
                            $('#question-' + data.data[i].QuestionId + '').append(templateComment.html());
                        }
                    }
                },
                error: function (data) {
                    console.log(data);
                }
            });
        }

        $(document).ready(function () {
            $('#tblQA').DataTable({
                "oLanguage": {
                    "sSearch": "Tìm kiếm",
                    "oPaginate": {
                        "sFirst": "Trang đầu",
                        "sLast": "Trang cuối",
                        "sNext": "Trang kế",
                        "sPrevious": "Trang trước"
                    },
                    "sInfoEmpty": "",
                    "sInfo": "Hiển thị từ dòng _START_ tới _END_ trong tổng số _TOTAL_ dòng",
                    "sZeroRecords": "Không có dữ liệu",
                    "sLengthMenu": "Hiển thị _MENU_ dòng"
                },
                ajax: {
                    url: urlApi + "api/QA/getAllQA/" + eventId,
                    dataSrc: ""
                },
                columns: [
                    {
                        name: "Name",
                        render: function (data, type, row) {
                            return row.name;
                        }
                    },
                    {
                        name: "Function",
                        render: function (data, type, row) {
                            return '<button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#editQANameModal" onclick="editQAName(' + row.qaId + ',\'' + row.name + '\')"><i class="fa fa-pencil"></i></button>     ' +     
                                '<button class="btn btn-success btn-sm" data-toggle="modal" data-target="#editQAModal" onclick="editQA(' + row.qaId + ',\'' + row.name + '\')"><i class="fa fa-question-circle"></i></button>     ' +
                                '<button class="btn btn-danger btn-sm speaker-id" onclick="delQA(' + row.qaId + ')"><i class="fa fa-trash"></i></button>';
                        }
                    }
                ]
            });
            });

            function delQA(qaId) {
                swal({
                    title: "Bạn có chắc?",
                    text: "Bạn sẽ không thể phục hồi lại!",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonClass: "btn-danger",
                    confirmButtonText: "Xóa!",
                    cancelButtonText: "Không!",
                    closeOnConfirm: false
                },
                    function () {
                        $.ajax({
                            url: urlApi + '/api/QA/DeleteQA',
                            method: "POST",
                            data: {
                                QAId: qaId,
                            },
                            success: function (data) {
                                $('#tblQA').DataTable().ajax.reload();
                                swal("Thành công!", "Xóa hỏi đáp thành công", "success");
                            },
                            error: function (data) {
                                console.log(data);
                            }
                        });
                    });
            }

            function checkIsAnswered(questionId) {
                $.ajax({
                    url: urlApi + '/api/QA/CheckAnsweredQuestion',
                    method: "POST",
                    data: {
                        QuestionId: questionId
                    },
                    success: function (data) {
                        console.log(data);
                        if (data.success) {
                            if (data.isAnswered) {
                                swal("Thành công!", "Đã xác nhận câu hỏi này đã trả lời", "success");
                                $('#btnCheckAnswered' + questionId).removeClass('btn-default');
                                $('#btnCheckAnswered' + questionId).addClass('btn-success');
                                $('#btnCheckAnswered' + questionId).text('Đã trả lời');
                                $('#question-' + questionId + ' .main-qa').css('background-color', '#bbd9c5');
                            }
                            else {
                                swal("Thành công!", "Đã xác nhận câu hỏi này chưa trả lời", "success");
                                $('#btnCheckAnswered' + questionId).removeClass('btn-success');
                                $('#btnCheckAnswered' + questionId).addClass('btn-default');
                                $('#btnCheckAnswered' + questionId).text('Chưa trả lời');
                                $('#question-' + questionId + ' .main-qa').css('background-color', 'white');
                            }

                        }

                    },
                    error: function (data) {
                        console.log(data);
                    }
                });
            }

            function editQAName(id, name) {
                $('#btnEdit').val(id);
                $('#editName').val(name);
            }

    </script>

}
<script src="~/Content/QAJs/QA.js"></script>
