
@{
    ViewBag.Title = "Manage Session";
}

@using HmsService.Models.Entities;
@model Session

<div class="container">

    <div class="box">
        <div class="box-header">
            <h2 class="col-sm-8">Manage Session</h2>
            <div class="col-sm-4">
                <div class="col-sm-2"></div>
                <button class="col-sm-5 btn btn-primary" data-toggle="modal" data-target="#addSessionModal" style="margin-top:20px" type="button">
                    <i class="fa fa-plus" style="margin-right:7px" aria-hidden="true"></i>Add Session
                </button>
            </div>

            <div class="modal fade" id="addSessionModal" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Add Session</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label class="col-sm-3 form-control-label">Name:</label>
                                <div class="col-sm-9 input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-briefcase" aria-hidden="true"></i>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Enter Speaker's name">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 form-control-label">Date and time range:</label>

                                <div class="input-group col-sm-9">
                                    <div class="input-group-addon">
                                        <i class="fa fa-clock-o"></i>
                                    </div>
                                    <input type="text" class="form-control pull-right" id="reservation" value="@Html.Raw(Model.StartTime)">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 form-control-label">Description:</label>
                                <div class="col-sm-9 input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-info" aria-hidden="true"></i>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Enter Description">
                                </div>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary">Add</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
    <table class="table table-hover table-bordered" id="tblSession">
        <thead>
            <tr>
                <th>Session Name</th>
                <th>Start Time - End Time</th>
                <th>Description</th>
                <th>Function</th>
            </tr>
        </thead>
    </table>
</div>


<!-- Modal -->
<div id="modalUpdateSession" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="col-sm-3 form-control-label">
                        Name<span class="required">*</span>
                    </label>
                    <div class="col-sm-9 input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-briefcase" aria-hidden="true"></i>
                        </div>
                        <input id="sessionName" type="text" class="form-control" placeholder="Enter Session's name">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 form-control-label">
                        Start Time - End Time<span class="required"></span>
                    </label>
                    <div class="col-sm-9 input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-briefcase" aria-hidden="true"></i>
                        </div>
                        <input id="startEndTime" type="text" class="form-control" placeholder="Enter Session's name">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 form-control-label">Description</label>
                    <div class="col-sm-9 input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-info" aria-hidden="true"></i>
                        </div>
                        <input id="sessionDescription" type="text" class="form-control" placeholder="Enter Description">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btn-update-session" class="btn btn-primary" data-dismiss="modal">Save</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<input type="hidden" id="txtSessionId" value="" />

@section scripts {
    <script>
        $(document).ready(function () {
            $('#tblSession').DataTable({
                ajax: {
                    url: "api/session/getAllSession",
                    dataSrc: ""
                },
                columns: [
                    {
                        name: "name",
                        render: function (data, type, row) {
                            return row.name;
                        }
                    },
                    {
                        name: "startTime - End Time",
                        render: function (data, type, row) {
                            return row.startTime + " - " + row.endTime;
                        }
                    },
                    {
                        name: "Description",
                        render: function (data, type, row) {
                            return row.description;
                        }
                    },
                    {
                        name: "Function",
                        render: function (data, type, row) {
                            return '<button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modalUpdateSession" onclick="openModelUpdate(' + row.sessionID + ',\'' + row.name + '\', \'' + row.startTime + '\', \'' + row.endTime + '\', \'' + row.description + '\')"><i class="fa fa-pencil"></i></button>     ' +
                                '<button class="btn btn-danger btn-sm btn-delete" data-id="' + row.sessionID + '"><i class="fa fa-trash"></i></button>';
                        }
                    }
                ]
            });


            //Date range picker
            $('#startEndTime').daterangepicker();


            //Save update session
            $('#btn-update-session').on('click', function () {
                $.ajax({
                    url: 'api/session/UpdateSession',
                    method: "POST",
                    data: {
                        SessionID: $('#txtSessionId').val(),
                        Name: $('#sessionName').val(),
                        Description: $('#sessionDescription').val()
                    },
                    success: function (data) {
                        $('#tblSession').DataTable().ajax.reload();
                    },
                    error: function (data) {
                        console.log(data);
                    }
                });
            });


            //Delete session
            $('.btn-delete').on('click', function () {
                console.log("AAA");
                console.log($(this).attr('data-id'));
            });
        });


        function openModelUpdate(id,name, startTime, endTime, description) {
            $('#sessionName').val(name);
            $('#sessionDescription').val(description);
            $('#startEndTime').val(startTime + " - " + endTime);
            $('#txtSessionId').val(id);
        }


    </script>
}

