
@{
    ViewBag.Title = "Manage Session";
    int eventId = ViewBag.EventId;
    string curPath = Request.Url.GetLeftPart(UriPartial.Authority) + Request.ApplicationPath;

}


<div class="container">

    <div class="box">
        <div class="box-header">
            <h2 class="col-sm-8">Quản lý session</h2>
            <div class="col-sm-4">
                <div class="col-sm-2"></div>
                <button class="col-sm-5 btn btn-primary" data-toggle="modal" data-target="#addSessionModal" style="margin-top:20px" type="button">
                    <i class="fa fa-plus" style="margin-right:7px" aria-hidden="true"></i>Thêm session
                </button>
            </div>



        </div>
        <div class="ibox-content">
            <table class="table table-hover table-bordered" id="tblSession">
                <thead>
                    <tr>
                        <th>Tên</th>
                        <th>Thời gian bắt đầu - kết thúc</th>
                        <th>Miêu tả</th>
                        <th>Chức năng</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>

</div>

<!--Modal Add Session-->
<div class="modal fade" id="addSessionModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Thêm session</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="col-sm-3 form-control-label">Tên:</label>
                    <div class="col-sm-9 input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-briefcase" aria-hidden="true"></i>
                        </div>
                        <input id="txtNameAdd" type="text" class="form-control" placeholder="Enter Session's name">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 form-control-label">Thời gian bắt đầu - kết thúc:</label>

                    <div class="input-group col-sm-9">
                        <div class="input-group-addon">
                            <i class="fa fa-clock-o"></i>
                        </div>
                        <input type="text" class="form-control pull-right" id="startEndTimeAdd" value="">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 form-control-label">Miêu tả:</label>
                    <div class="col-sm-9 input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-info" aria-hidden="true"></i>
                        </div>
                        <input id="txtDescriptionAdd" type="text" class="form-control" placeholder="Enter Description">
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button id="btn-add-session" type="button" class="btn btn-primary" data-dismiss="modal">Thêm</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Hủy bỏ</button>
            </div>
        </div>

    </div>
</div>

<!-- Modal Update Session -->
<div id="modalUpdateSession" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Cập nhật thông tin session</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="col-sm-3 form-control-label">
                        Tên<span class="required">*</span>
                    </label>
                    <div class="col-sm-9 input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-briefcase" aria-hidden="true"></i>
                        </div>
                        <input id="sessionName" type="text" class="form-control" placeholder="Enter Session's name">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 form-control-label">
                        Thời gian bắt đầu - kết thúc<span class="required"></span>
                    </label>
                    <div class="col-sm-9 input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-briefcase" aria-hidden="true"></i>
                        </div>
                        <input id="startEndTimeUpdate" type="text" class="form-control" placeholder="Enter Session's name">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 form-control-label">Miêu tả</label>
                    <div class="col-sm-9 input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-info" aria-hidden="true"></i>
                        </div>
                        <input id="sessionDescription" type="text" class="form-control" placeholder="Enter Description">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btn-update-session" class="btn btn-primary" data-dismiss="modal">Lưu</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>


<input type="hidden" id="txtSessionId" value="" />

@section scripts {
    <script>
        var urlApi = '@curPath';
        var eventId = @eventId;

        $(document).ready(function () {
            $('#tblSession').DataTable({
                ajax: {
                    url: urlApi + "api/session/getSessionsByEventId/" + eventId,
                    dataSrc: ""
                },
                columns: [
                    {
                        name: "name",
                        render: function (data, type, row) {
                            return row.name;
                        }
                    },
                    {
                        name: "startTime - End Time",
                        render: function (data, type, row) {
                            return row.startTime + " - " + row.endTime;
                        }
                    },
                    {
                        name: "Description",
                        render: function (data, type, row) {
                            return row.description;
                        }
                    },
                    {
                        name: "Function",
                        render: function (data, type, row) {
                            return '<button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modalUpdateSession" onclick="openModelUpdate(' + row.sessionID + ',\'' + row.name + '\', \'' + row.startTime + '\', \'' + row.endTime + '\', \'' + row.description + '\')"><i class="fa fa-pencil"></i></button>     ' +
                                '<button class="btn btn-danger btn-sm btn-delete" onclick="deleteSession(' + row.sessionID + ')"><i class="fa fa-trash"></i></button>';
                        }
                    }
                ]
            });


            //Date range picker
            $('#startEndTimeAdd').daterangepicker({
                locale: {
                    format: 'DD/MM/YYYY'
                }
            });


            //Save update session
            $('#btn-update-session').on('click', function () {
                var time = $('#startEndTimeUpdate').val();
                var timeSplit = time.split('-');
                var startTimeTmp = timeSplit[0].trim();
                var endTimeTmp = timeSplit[1].trim();

                var startTime = startTimeTmp.split("/").reverse().join("-");
                var endTime = endTimeTmp.split("/").reverse().join("-");

                $.ajax({
                    url: urlApi + 'api/session/UpdateSession',
                    method: "POST",
                    data: {
                        SessionID: $('#txtSessionId').val(),
                        Name: $('#sessionName').val(),
                        Description: $('#sessionDescription').val(),
                        StartTime: startTime,
                        EndTime: endTime
                    },
                    success: function (data) {
                        reloadTable();
                        swal("Thành công!", "Bạn đã update thông tin sesstion thành công", "success");
                    },
                    error: function (data) {
                        console.log(data);
                    }
                });
            });

            //Add Session
            $('#btn-add-session').on('click', function () {
                var sessionName = $('#txtNameAdd').val();
                var sessionDescription = $('#txtDescriptionAdd').val();
                var startEndTime = $('#startEndTimeAdd').val();
                var timeSplit = startEndTime.split('-');
                var startTime = timeSplit[0].trim().split("/").reverse().join("-");
                var endTime = timeSplit[1].trim().split("/").reverse().join("-");

                $.ajax({
                    url: urlApi + 'api/session/AddSession',
                    method: "POST",
                    data: {
                        EventId: eventId,
                        Name: sessionName,
                        Description: sessionDescription,
                        StartTime: startTime,
                        EndTime: endTime
                    },
                    success: function (data) {
                        reloadTable();
                        swal("Success!", "Session has been added successfully", "success");
                    },
                    error: function (data) {
                        console.log(data);
                    }
                });
            });

        });


        function openModelUpdate(id,name, startTime, endTime, description) {
            $('#sessionName').val(name);
            $('#sessionDescription').val(description);
            $('#startEndTimeUpdate').val(startTime + " - " + endTime);
            $('#txtSessionId').val(id);
            $('#startEndTimeUpdate').daterangepicker({
                locale: {
                    format: 'DD/MM/YYYY'
                }
            });
        }

        function deleteSession(id) {

            swal({
                title: "Are you sure?",
                text: "You will not be able to recover this imaginary file!",
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn-danger",
                confirmButtonText: "Yes, delete it!",
                cancelButtonText: "No, cancel plx!",
                closeOnConfirm: false
            },
                function () {
                    $.ajax({
                        url: urlApi + 'api/session/DeleteSession',
                        method: "POST",
                        data: {
                            SessionID: id,

                        },
                        success: function (data) {
                            reloadTable();
                            swal("Deleted!", "Your session has been deleted successfully", "success");
                        },
                        error: function (data) {
                            console.log(data);
                            swal("Error", "Please delete all activity of this session", "error");
                        }
                    });
                });


        }

        function reloadTable() {
            $('#tblSession').DataTable().ajax.reload();
        }

    </script>
}

