
@{
    ViewBag.Title = "Timeline";
}
@using HmsService.Models.Entities;

@model IEnumerable<Timeline>

<div class="container" style="padding-top:74px;">
    @if (Model.Count() == 0)
    {
        <h2>Hiện tại không có dòng thời gian nào</h2>
    }
    else
    {
        <h2 id="timeline" class="col-md-12 text-center" style="margin-top: 20px;">Dòng thời gian</h2>
        <ul class="timeline">
            @{
                int i = 1;
                foreach (var item in Model.OrderByDescending(t => t.StartTime))
                {
                    if (i % 2 == 1)
                    {
                        <li>
                            <div class="timeline-badge"><i id="icon-custom" class="fa fa-check-square-o"></i></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="timeline-title">@(item.TimelineTitle)</h4>
                                </div>
                                <div class="timeline-body">
                                    <p>
                                        @(item.TimelineDetail)
                                    </p>
                                </div>
                            </div>
                        </li>
                        i++;
                    }
                    else
                    {
                        <li class="timeline-inverted">
                            <div class="timeline-badge warning"><i id="icon-custom" class="fa fa-check-square-o"></i></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="timeline-title">@(item.TimelineTitle)</h4>
                                </div>
                                <div class="timeline-body">
                                    <p>
                                        @(item.TimelineDetail)
                                    </p>
                                </div>
                            </div>
                        </li>
                        i++;
                    }
                }
            }
        </ul>
    }

</div>

