
@{
    ViewBag.Title = "Quản Lý Dòng Thời Gian";
}

<div class="container">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <div class="row">
                <h2 class="col-sm-10">Quản Lý Dòng Thời Gian</h2>
                <div class="col-sm-2">
                    <button class="btn btn-primary" type="submit" data-toggle="modal" data-target="#addSpeakerModal" style="margin-top:20px">
                        <i class="fa fa-plus" style="margin-right:7px" aria-hidden="true"></i>Thêm
                    </button>
                </div>
            </div>
            <div class="modal fade" id="addSpeakerModal" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Thêm Dòng Thời Gian</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label class="col-sm-3 form-control-label">Tiêu Đề:</label>
                                <div class="col-sm-9 input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-briefcase" aria-hidden="true"></i>
                                    </div>
                                    <input type="text" class="form-control" id="addTitle" placeholder="Nhập tiêu đề của dòng thời gian">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 form-control-label">Chi tiết dòng thời gian:</label>
                                <div class="col-sm-9 input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-info" aria-hidden="true"></i>
                                    </div>
                                    <input type="text" class="form-control" id="addTimelineDetail" placeholder="Nhập chi tiết dòng thời gian">
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" id="addTimeline" class="btn btn-primary" style="margin-top:5px" data-dismiss="modal">Thêm</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="ibox-content">
            <table class="table table-hover table-bordered" id="tblTimeline">
                <thead>
                    <tr>
                        <th>Tiêu đề</th>
                        <th>Chi tiết dòng thời gian</th>
                        <th>Thời gian</th>
                        <th>Chức năng</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

<!-----------------Edit Timeline Modal ---------------------->
<div id="modalUpdateTimeline" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Chỉnh Sửa Dòng Thời Gian</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="col-sm-3 form-control-label">
                        Tiêu Đề<span class="required">*</span>
                    </label>
                    <div class="col-sm-9 input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-briefcase" aria-hidden="true"></i>
                        </div>
                        <input id="timelineTitle" type="text" class="form-control" placeholder="Nhập tiêu đề dòng thời gian">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 form-control-label">Chi tiết:</label>
                    <div class="col-sm-9 input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-info" aria-hidden="true"></i>
                        </div>
                        <input id="editTimelineDetail" type="text" class="form-control" placeholder="Nhập chi tiết dòng thời gian">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btn-update-timeline" class="btn btn-primary" data-dismiss="modal">Lưu</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
            </div>
        </div>
    </div>
</div>

<input type="hidden" id="txtTimelineId" value="" />

@section scripts{
    <script>
        $(document).ready(function () {
            $('#tblTimeline').DataTable({
                ajax: {
                    url: "api/timeline/getAllTimeline",
                    dataSrc: ""
                },
                columns: [
                    {
                        name: "Title",
                        render: function (data, type, row) {
                            return row.timelineTitle;
                        }
                    },

                    {
                        name: "Detail",
                        render: function (data, type, row) {
                            return row.timelineDetail;
                        }
                    },
                    {
                        name: "startTime",
                        render: function (data, type, row) {
                            return row.startTime.split(' ')[1].split(':')[0] + ':' + row.startTime.split(' ')[1].split(':')[1] + ' ' + row.startTime.split(' ')[2];
                        }
                    },
                    {
                        name: "Function",
                        render: function (data, type, row) {
                            return '<button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modalUpdateTimeline" onclick="openModelUpdate(' + row.timelineId + ',\'' + row.timelineTitle + '\',\'' + row.timelineDetail + '\')"><i class="fa fa-pencil"></i></button>     ' +
                                '<button class="btn btn-danger btn-sm btn-delete" onclick="deleteTimeline(' + row.timelineId + ')" id="btn-delete"><i class="fa fa-trash"></i></button>';
                        }
                    }
                ]
            });
            //Add timeline
            $('#addTimeline').on('click', function () {

                var dt = new Date($.now());
                var time = dt.getHours() + ":" + dt.getMinutes() + ":" + dt.getSeconds();
                console.log(time);
                $.ajax({
                    url: 'api/timeline/addTimeline',
                    method: 'POST',
                    data: {
                        SessionId: 1,
                        TimelineTitle: $('#addTitle').val(),
                        TimelineDetail: $('#addTimelineDetail').val(),
                        StartTime: time,
                    },
                    success: function (data) {
                        reloadTable();
                        swal("Thành Công!", "Dòng thời gian đã được thêm vào thành công", "success");
                    },
                    error: function (data) {
                        console.log(data);
                    }
                });
            });

            //Save update timeline
            $('#btn-update-timeline').on('click', function () {
                console.log($('#txtTimelineId').val());
                console.log($('#timelineTitle').val());
                console.log($('#editTimelineDetail').val());
                $.ajax({
                    url: 'api/timeline/UpdateTimeline',
                    method: "POST",
                    data: {
                        TimelineId: $('#txtTimelineId').val(),
                        TimelineTitle: $('#timelineTitle').val(),
                        TimelineDetail: $('#editTimelineDetail').val()
                    },
                    success: function (data) {
                        swal("Thành công!", "Dòng thời gian đã được cập nhật thành công", "success");
                        $('#tblTimeline').DataTable().ajax.reload();
                    },
                    error: function (data) {
                        console.log(data);
                    }
                });
            });
        });

        function deleteTimeline(id) {
            console.log(id);

            swal({
                title: "Bạn có chắc chắn?",
                text: "Bạn sẽ không thể phục hồi lại!",
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn-danger",
                confirmButtonText: "Xóa!",
                cancelButtonText: "Hủy!",
                closeOnConfirm: false
            },
                function () {
                    $.ajax({
                        url: 'api/timeline/DeleteTimeline',
                        method: "POST",
                        data: {
                            TimelineId: id,
                        },
                        success: function (data) {
                            reloadTable();
                            swal("Đã Xóa!", "Dòng thời gian đã được xóa thành công", "success");
                        },
                        error: function (data) {
                            console.log(data);
                            swal("Lỗi", "Có gì đó không đúng", "error");
                        }
                    });
                });
        }

        function openModelUpdate(id, name, description) {
            $('#timelineTitle').val(name);
            $('#editTimelineDetail').val(description);
            $('#txtTimelineId').val(id);
        }

        function reloadTable() {
            $('#tblTimeline').DataTable().ajax.reload();
        }
    </script>
}

