@font-face {
    font-family: Icel_Black;
    src: url(../fonts/Iciel/iCielPanton-Black.otf);
}

@font-face {
    font-family: Gotham_Bold;
    src: url(../fonts/Gotham/GothamRnd-Bold.otf);
}

.name-title {
    color:black;
    font-weight:600;
    font-size:large;
    margin-bottom:10px;
    margin-top:10px;
}

.down{
    margin-top:30px;
}

.evtinfo{
    margin-top:10px;
}

.leftside{
    margin-left:250px;
}

.input-group-addon:first-child {
    width:40px;
}

.modal-dialog{
    left:unset !important;
}


.tableHeadText {
    padding-left: 15px;
    
    font-size: medium;
    color: black;
    font-weight: 600;
}

.page-title span {
    /*text-align:center;*/
    font-family: Gotham_Bold !important;
    font-weight: bold;
    font-size: 35px;
    color: #3c8dbc;

}

.page-title {
    margin-top:20px;
    margin-bottom:20px;
}

.box-is-running {
    border-top-color: #00a65a !important;
}

.box-happened {
    border-top-color: #808080 !important;
}

.bg-gray {
    background-color: #808080 !important;
}

.btn-box-tool i {
    color:black;
}

.event-box-body {
    background-color: #D3D3D3;
}

.event-title {
    font-size:20px;
    text-align:center;
}

.event-box {
    min-height:120px;
}

.event-box-footer {
    position:absolute !important;
    width:100%;
    bottom:0;
}

.event-link {
    text-decoration:none;
    color:white;
}

.skin-blue .main-header .logo {
    background-color: #3c8dbc !important;
}

.btn-add-new-event {
    float:right;
    margin-bottom:20px;
}

.box-add-event {
    margin-top:20px;
}

/*.btn-add-event {
    margin-right:10px;
}*/

/*.box-body-up-comming, .box-body-happened {
    display:none;
}*/

.empty{
    color:red;
    display:none;
}

.navbar-custom {
    background-color: #005f75 !important;
}

.side-bar-custom {
    background-color: #005f75 !important;
    
}

.sidebar-menu span {
    color:white;
}

.tree-view-menu-custom {
    background-color: #003549 !important;
}

.btn-custom {
    color: black;
    background-color: #fecb24;
    font-weight:bold !important;
}

.margin-bottom-10 {
    margin-bottom:15px;
}

.inner-custom {
    height:100px;
    max-width:200px;
}
.content-custom {
    min-height:unset;
}
.container-add-collection {
    margin-bottom:20px;
}

.inner-custom:hover {
    cursor:pointer;
}

#txtCollectionTypeDiv {
    display:none;
}

#btnAddGuest {
    margin-bottom:0;
}

