.name-title {
    color:black;
    font-weight:600;
    font-size:large;
    margin-bottom:10px;
    margin-top:10px;
}

.down{
    margin-top:30px;
}

.evtinfo{
    margin-top:10px;
}

.leftside{
    margin-left:250px;
}

.input-group-addon:first-child {
    width:40px;
}

.modal-dialog {
    left: unset !important;
}