.form-option {
    height:20px;
}

.group-option {
    padding-left:15px;
}

.btn-add-option {
    margin-top:20px;
    margin-left:15px;
}

#template-option, #template-option-update {
    display: none;
}

.input-group {
    margin-bottom:15px;
}

.sa-success {
    margin-bottom: 27px !important;
}

.user-join {
    width: 20px;
    height: 20px;
    background-color: #e53935;
    position: relative;
    top: 5px;
}

.user-not-join {
    width: 20px;
    height: 20px;
    background-color: #43a047;
    position: relative;
    top: 5px;
}

.inner-custom-2 {
    max-width:300px;
}

.logo-name {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background-color: blue;
    color: white;
    text-align: center;
    line-height: 40px;
}

.logo-name {
    font-weight: bold;
    font-size: 20px !important;
}
.message .name  {
    text-decoration:none;
}