
@{
    ViewBag.Title = "Livestream";
}
@using HmsService.ViewModels
@model SessionViewModel
<div class="row" style="padding-top:74px;" id="sectionTitle">
    <div class="col-md-12 text-center voting-title">
        <h3>Livestream</h3>
    </div>
</div>

@if (Model != null)
{
    if (Model.LivestreamUrl != null)
    {
        <script>
            (function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = 'https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v3.2';
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));</script>
        <div class="videoWrapper" style="width:100%;position:center;padding:20px 20px;">
            <div class="fb-video" data-href="@Model.LivestreamUrl" data-width="4000"
                 data-show-text="false" data-autoplay="true" data-allowfullscreen="true">
              
            </div>
        </div>
    }
    else
    {
        <div class="error-livestream-title">
            <h3 class="">Hiện tại chúng tôi chưa tiến hành livestream</h3>
        </div>
    }
}
else
{
    <div class="error-livestream-title">
        <h3 class="">Hiện tại chúng tôi chưa tiến hành livestream</h3>
    </div>

}



<div id="templateError" style="display:none">
    <div class="error-livestream-title">
        <h3 class="">Hiện tại chúng tôi chưa tiến hành livestream</h3>
    </div>
</div>
@section scripts {


    <script>
        $(document).ready(function () {
            $('.custom-menu').removeClass('menu-active');
            $('.menu-livestream').addClass('menu-active');

            var url = '@(Model.LivestreamUrl)';
            var isUrl = checkUrl(url);
            if (isUrl) {
                $('#frameLivestream').attr('src', url);
            }
            else {
                $("#sectionTitle").append($('#templateError').clone().html());
            }

        });



    </script>
}




