
@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <div class="row">
                <h2 class="col-sm-10">Manage Interaction</h2>
                <div class="col-sm-2">
                    <button class="btn btn-primary" type="submit" data-toggle="modal" data-target="#addSpeakerModal" style="margin-top:20px">
                        <i class="fa fa-plus" style="margin-right:7px" aria-hidden="true"></i>Add Interaction
                    </button>
                </div>
            </div>
            <div class="modal fade" id="addSpeakerModal" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Add Interaction</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label class="col-sm-3 form-control-label">
                                    Name<span class="required">*</span>
                                </label>
                                <div class="col-sm-9 input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-briefcase" aria-hidden="true"></i>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Enter Speaker's name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 form-control-label">Description</label>
                                <div class="col-sm-9 input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-info" aria-hidden="true"></i>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Enter Description">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 form-control-label">
                                    Select Interaction
                                    <span class="required">*</span>
                                </label>
                                <div class="input-group col-sm-9">
                                    <div class="input-group-addon">
                                        <i class="fa fa-comments" aria-hidden="true"></i>
                                    </div>
                                    <select class="form-control">
                                        <option>---Choose---</option>
                                        <option>Interaction 1</option>
                                        <option>Interaction 2</option>
                                    </select>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label class="col-sm-3 form-control-label">
                                    Kind Interaction
                                    <span class="required">*</span>
                                </label>
                                <div class="input-group col-sm-9">
                                    <div class="input-group-addon">
                                        <i class="fa fa-check-square-o" aria-hidden="true"></i>
                                    </div>
                                    <select class="form-control">
                                        <option>---Choose---</option>
                                        <option>Option 1</option>
                                        <option>Option 2</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" style="margin-top:5px">Add</button>
                            <button type="button" class="btn btn-danger">Delete</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="ibox-content">
            <div class="nav-tabs">
                <div class="tab-content">
                    <div id="activity-tab">
                        <div class="col-sm-6">
                            <div class="col-sm-12">
                                <div class="tableHeadText">Unavailable</div>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="col-sm-12">
                                <div class="tableHeadText">Running</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

