
@{
    ViewBag.Title = "Quản lý tài liệu";
    int eventId = ViewBag.EventId;
    string curPath = Request.Url.GetLeftPart(UriPartial.Authority) + Request.ApplicationPath;
}

<div class="container">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <div class="row">
                <h2 class="col-sm-10">Quản Lý Tài Liệu</h2>
                <div class="col-sm-2">
                    <button class="btn btn-primary" type="submit" data-toggle="modal" data-target="#fileModal" style="margin-top:20px" onclick="clearModal()">
                        <i class="fa fa-plus" style="margin-right:7px" aria-hidden="true"></i>Thêm
                    </button>
                </div>
            </div>
            <div class="modal fade" id="fileModal" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Thêm Tài Liệu</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label class="col-sm-3 form-control-label">Tên:</label>
                                <div class="col-sm-9 input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-briefcase" aria-hidden="true"></i>
                                    </div>
                                    <input id="newName" type="text" class="form-control file-title" placeholder="Mời chọn tài liệu" readonly>
                                </div>
                                <div class="div-title-error empty col-lg-offset-3 col-lg-9 div-name-error" id="file-name-error">
                                    @*<p class="empty">Vui lòng nhập tên tài liệu</p>*@
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 form-control-label">Miêu Tả:</label>
                                <div class="col-sm-9 input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-info" aria-hidden="true"></i>
                                    </div>
                                    <textarea id="newDescription" type="text" class="form-control  file-description" placeholder="Nhập miêu tả về tài liệu"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 form-control-label">Tài liệu:</label>
                                <div class="col-sm-9" style="padding-left: 0px;">
                                    <div class="field">
                                        <div class="control">
                                            <button class="button" type="button" id="picker">Chọn tài liệu</button>
                                            <input type="hidden" id="fileupload">
                                        </div>
                                    </div>
                                    <div id="thumbnail-container" class="file-url"></div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button id="btn-add" type="button" class="btn btn-primary file-button file-id" data-dismiss="modal" style="margin-top:5px">Thêm</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="ibox-content">
            <table class="table table-hover table-bordered" id="tblFile">
                <thead>
                    <tr>
                        <th>Tên tài liệu</th>
                        <th>Miêu tả</th>
                        <th>Đường dẫn</th>
                        <th>Chức năng</th>
                    </tr>
                </thead>
            </table>
        </div>

        <div class="modal fade" id="deleteModal" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h2 class="modal-title">Bạn có chắc?</h2>
                    </div>
                    <div class="modal-body">
                        <h3 class="file-del-title"></h3>
                    </div>
                    <div class="modal-footer">
                        <button id="btn-del" type="button" class="btn btn-default file-del-id" data-dismiss="modal">Xóa</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

@section scripts {
    <script>
        var urlApi = '@curPath';
        var eventId = @eventId;

        function showModalFile(id, name, description, url) {
            $('.file-title').val(name);
            $('.file-description').val(description);
            $('.file-url').val(url);
            $('.file-id').val(id);
            $('#thumbnail-container').attr('style', 'padding-top: 12px;');
            $('.modal-title').text('Chỉnh sửa tài liệu');
            $('.file-button').text('Lưu');
            $('.file-button').attr('id', 'btn-save');

            var nameSplit = name.split('.');
            var mimetype = nameSplit[nameSplit.length - 1];
            if (['pdf'].indexOf(mimetype) !== -1) {
                $('#thumbnail-container').html("<i class='fa fa-file-pdf-o fa-2x' style='padding-right: 10px;'></i>" + name);
            } else
                if (['docx', 'doc'].indexOf(mimetype) !== -1) {
                    $('#thumbnail-container').html("<i class='fa fa-file-word-o fa-2x' style='padding-right: 10px;'></i>" + name);
            } else
                    if (['xlsx', 'xls'].indexOf(mimetype) !== -1) {
                        $('#thumbnail-container').html("<i class='fa fa-file-excel-o fa-2x' style='padding-right: 10px;'></i>" + name);
            } else
                        if (['avi', 'flv', 'wmv', 'mov', 'mp4'].indexOf(mimetype) !== -1) {
                            $('#thumbnail-container').html("<i class='fa fa-file-video-o fa-2x' style='padding-right: 10px;'></i>" + name);
            } else
                            if (['mp3', 'flac', 'wma', 'wav', 'midi', 'ogg', 'ac3', 'amr', 'aac', 'm4a'].indexOf(mimetype) !== -1) {
                                $('#thumbnail-container').html("<i class='fa fa-file-audio-o fa-2x' style='padding-right: 10px;'></i>" + name);
            } else
                                if (['zip', 'rar', '7z'].indexOf(mimetype) !== -1) {
                                    $('#thumbnail-container').html("<i class='fa fa-file-archive-o fa-2x' style='padding-right: 10px;'></i>" + name);
            } else
                                    if (['txt', 'rtf'].indexOf(mimetype) !== -1) {
                                        $('#thumbnail-container').html("<i class='fa fa-file-text-o fa-2x' style='padding-right: 10px;'></i>" + name);
            } else
                                        if (['ppt', 'pps', 'pptx', 'ppsx'].indexOf(mimetype) !== -1) {
                                            $('#thumbnail-container').html("<i class='fa fa-file-powerpoint-o fa-2x' style='padding-right: 10px;'></i>" + name);
            } else
                                            if (['jpeg', 'png'].indexOf(mimetype) !== -1) {
                                                $('#thumbnail-container').html("<i class='fa fa-file-image-o fa-2x' style='padding-right: 10px;'></i>" + name);
            } else {
                $('#thumbnail-container').html("<i class='fa fa-file-o fa-2x' style='padding-right: 10px;'></i>" + name);
            }


        }
        function clearModal() {
            $('.file-title').val('');
            $('.file-description').val('');
            $('#thumbnail-container').html("");
            $('.file-url').val('');
            $('.file-id').val('');
            $('.modal-title').text('Thêm tài liệu');
            $('.file-button').text('Thêm');
            $('.file-button').attr('id', 'btn-add');
        }

        //function delFile(id, name) {
        //     $('.file-del-id').val(id);
        //     $('.file-del-title').html("Xóa Tài Liệu " + name);
        //}

         $(document).ready(function () {
             $('#tblFile').DataTable({
                 "oLanguage": {
                     "sSearch": "Tìm kiếm",
                     "oPaginate": {
                         "sFirst": "Trang đầu",
                         "sLast": "Trang cuối",
                         "sNext": "Trang kế",
                         "sPrevious": "Trang trước"
                     },
                     "sInfoEmpty": "",
                     "sInfo": "Hiển thị từ dòng _START_ tới _END_ trong tổng số _TOTAL_ dòng",
                     "sZeroRecords": "Không có dữ liệu",
                     "sLengthMenu": "Hiển thị _MENU_ dòng"
                 },
                ajax: {
                    url: urlApi + "/api/File/GetAllFileByEventId/" + eventId,
                    dataSrc: ""
                },
                columns: [
                    {
                        name: "Name",
                        render: function (data, type, row) {
                            return row.name;
                        }
                    },
                    {
                        name: "Description",
                        render: function (data, type, row) {
                            return row.description;
                        }
                    },
                    {
                        name: "Image",
                        render: function (data, type, row) {
                            return row.imageUrl;
                        }
                    },
                    {
                        name: "Function",
                        render: function (data, type, row) {
                            return '<button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#fileModal" onclick="showModalFile(' + row.collectionItemID + ',\'' + row.name + '\', \'' + row.description + '\', \'' + row.imageUrl + '\')"><i class="fa fa-pencil"></i></button>     ' +
                                '<button class="btn btn-danger btn-sm file-id" onclick="delFile(' + row.collectionItemID + ',\'' + row.name + '\')"><i class="fa fa-trash"></i></button>';
                        }
                    }
                ]
             });


             //Filestack dùng để up hình
             // Set up the picker
             const client = filestack.init('AIA0Qk3iTSGzr9dIsuPdgz');
             const options = {
                 onUploadDone: updateForm,
                 maxSize: 10 * 1024 * 1024,
                 uploadInBackground: false,
                 fromSources: ['local_file_system', 'imagesearch', 'facebook', 'instagram', 'dropbox', 'picasa', 'url']
             };
             const picker = client.picker(options);

             // Get references to the DOM elements

             const fileInput = document.getElementById('fileupload');
             const btn = document.getElementById('picker');
             const nameBox = document.getElementById('nameBox');
             const urlBox = document.getElementById('urlBox');

             // Add our event listeners

             btn.addEventListener('click', function (e) {
                 e.preventDefault();
                 picker.open();
             });



             // Helper to overwrite the field input value

             function updateForm(result) {
                 const fileData = result.filesUploaded[0];
                 fileInput.value = fileData.url;

                 var nameSplit = fileData.filename.split('.');
                 var mimetype = nameSplit[nameSplit.length - 1];
                 if (fileInput.value != null) {
                     $('#thumbnail-container').val(fileInput.value);
                     $('.file-title').val(fileData.filename);
                     $('#thumbnail-container').attr('style', 'padding-top: 12px;');

                     if (['pdf'].indexOf(mimetype) !== -1) {
                         $('#thumbnail-container').html("<i class='fa fa-file-pdf-o fa-2x' style='padding-right: 10px;'></i>" + fileData.filename);
                     } else
                         if (['docx', 'doc'].indexOf(mimetype) !== -1) {
                             $('#thumbnail-container').html("<i class='fa fa-file-word-o fa-2x' style='padding-right: 10px;'></i>" + fileData.filename);
                     } else
                             if (['xlsx', 'xls'].indexOf(mimetype) !== -1) {
                                 $('#thumbnail-container').html("<i class='fa fa-file-excel-o fa-2x' style='padding-right: 10px;'></i>" + fileData.filename);
                     } else
                                 if (['avi', 'flv', 'wmv', 'mov', 'mp4'].indexOf(mimetype) !== -1) {
                                     $('#thumbnail-container').html("<i class='fa fa-file-video-o fa-2x' style='padding-right: 10px;'></i>" + fileData.filename);
                     } else
                                     if (['mp3', 'flac', 'wma', 'wav', 'midi', 'ogg', 'ac3', 'amr', 'aac', 'm4a'].indexOf(mimetype) !== -1) {
                                         $('#thumbnail-container').html("<i class='fa fa-file-audio-o fa-2x' style='padding-right: 10px;'></i>" + fileData.filename);
                     } else
                                         if (['zip', 'rar', '7z'].indexOf(mimetype) !== -1) {
                                             $('#thumbnail-container').html("<i class='fa fa-file-archive-o fa-2x' style='padding-right: 10px;'></i>" + fileData.filename);
                     } else
                                             if (['txt', 'rtf'].indexOf(mimetype) !== -1) {
                                                 $('#thumbnail-container').html("<i class='fa fa-file-text-o fa-2x' style='padding-right: 10px;'></i>" + fileData.filename);
                     } else
                                                 if (['ppt', 'pps', 'pptx', 'ppsx'].indexOf(mimetype) !== -1) {
                                                     $('#thumbnail-container').html("<i class='fa fa-file-powerpoint-o fa-2x' style='padding-right: 10px;'></i>" + fileData.filename);
                     } else
                                                     if (['jpeg', 'png'].indexOf(mimetype) !== -1) {
                                                         $('#thumbnail-container').html("<i class='fa fa-file-image-o fa-2x' style='padding-right: 10px;'></i>" + fileData.filename);
                     } else {
                                                         $('#thumbnail-container').html("<i class='fa fa-file-o fa-2x' style='padding-right: 10px;'></i>" + fileData.filename);
                     }

                 }


             };

        });

    </script>
}
<script src="~/Content/FileJs/File.js"></script>
