
@{
    ViewBag.Title = "Quản lý danh sách diễn giả";
    int eventId = ViewBag.EventId;
    string curPath = Request.Url.GetLeftPart(UriPartial.Authority) + Request.ApplicationPath;
}

<div class="container">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <div class="row">
                <h2 class="col-sm-10">Quản Lý Diễn Giả</h2>
                <div class="col-sm-2">
                    <button class="btn btn-primary" type="submit" data-toggle="modal" data-target="#speakerModal" style="margin-top:20px"  onclick="clearModal()">
                        <i class="fa fa-plus" style="margin-right:7px" aria-hidden="true"></i>Thêm
                    </button>
                </div>
            </div>
            <div class="modal fade" id="speakerModal" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Thêm Diễn Giả</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label class="col-sm-3 form-control-label">Tên:</label>
                                <div class="col-sm-9 input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-briefcase" aria-hidden="true"></i>
                                    </div>
                                    <input id="newName" type="text" class="form-control speaker-title" placeholder="Nhập tên diễn giả">
                                </div>
                                <div class="div-title-error empty col-lg-offset-3 col-lg-9 div-name-error" id="speaker-name-error">
                                    <p class="empty">Vui lòng nhập tên diễn giả</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 form-control-label">Miêu Tả:</label>
                                <div class="col-sm-9 input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-info" aria-hidden="true"></i>
                                    </div>
                                    <textarea id="newDescription" type="text" class="form-control speaker-description" placeholder="Nhập miêu tả về diễn giả"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 form-control-label">Hình Ảnh:</label>
                                <div class="col-sm-9" style="padding-left: 0px;">
                                    <div class="field">
                                        <div class="control">
                                            <button class="button" type="button" id="picker">Chọn file</button>
                                            <input type="hidden" id="fileupload">
                                        </div>
                                    </div>
                                    <div id="thumbnail-container" class="speaker-img"></div>
                                </div>

                            </div>
                        </div>
                        <div class="modal-footer">
                            <button id="btn-add" type="button" class="btn btn-primary speaker-id speaker-button" data-dismiss="modal" style="margin-top:5px">Thêm</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="ibox-content">
            <table class="table table-hover table-bordered" id="tblSpeaker">
                <thead>
                    <tr>
                        <th>Tên</th>
                        <th>Miêu Tả</th>
                        <th>Hình Ảnh</th>
                        <th>Chức Năng</th>
                    </tr>
                </thead>
            </table>
        </div>

        <div class="modal fade" id="deleteModal" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h2 class="modal-title">Bạn có chắc?</h2>
                    </div>
                    <div class="modal-body">
                        <h3 class="speaker-del-title"></h3>
                    </div>
                    <div class="modal-footer">
                        <button id="btn-del" type="button" class="btn btn-default speaker-del-id" data-dismiss="modal">Xóa</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

@section scripts {
    <script>
        var urlApi = '@curPath';
        var eventId = @eventId;

        function showModalSpeaker(id, name, description, image) {
            $('.speaker-title').val(name);
            $('.speaker-description').val(description);
            $('.speaker-img').val(image);
            $('#thumbnail-container').html("<img id='thumbnail' src='" + image + "' style='width:200px;padding-top: 10px;'/>");
            $('.speaker-id').val(id);
            $('.modal-title').text('Chỉnh sửa diễn giả');
            $('.speaker-button').text('Lưu');
            $('.speaker-button').attr('id', 'btn-save');
        }

        function clearModal() {
            $('.speaker-title').val('');
            $('.speaker-description').val('');
            $('.speaker-img').val('');
            $('#thumbnail-container').html("");
            $('.speaker-id').val('');
            $('.modal-title').text('Thêm diễn giả');
            $('.speaker-button').text('Thêm');
            $('.speaker-button').attr('id', 'btn-add');
        }

        function delSpeaker(id, name) {
            $('.modal-title').text('Xóa diễn giả');
            $('.speaker-del-id').val(id);
             $('.speaker-del-title').html("Xóa Diễn Giả " + name);
        }

         $(document).ready(function () {
             $('#tblSpeaker').DataTable({
                 "oLanguage": {
                     "sSearch": "Tìm kiếm",
                     "oPaginate": {
                         "sFirst": "Trang đầu",
                         "sLast": "Trang cuối",
                         "sNext": "Trang kế",
                         "sPrevious": "Trang trước"
                     },
                     "sInfoEmpty": "",
                     "sInfo": "Hiển thị từ dòng _START_ tới _END_ trong tổng số _TOTAL_ dòng",
                     "sZeroRecords": "Không có dữ liệu",
                     "sLengthMenu": "Hiển thị _MENU_ dòng"
                 },
                ajax: {
                    url: urlApi + "/api/speaker/GetAllSpeakerByEventId/" + eventId,
                    dataSrc: ""
                },
                columns: [
                    {
                        name: "Name",
                        render: function (data, type, row) {
                            return row.name;
                        }
                    },
                    {
                        name: "Description",
                        render: function (data, type, row) {
                            return row.description;
                        }
                    },
                    {
                        name: "Image",
                        render: function (data, type, row) {
                            return '<img src="' + row.imageUrl + '" alt="brand" class="img-fluid" style="width:260px; height:200px;">';
                        }
                    },
                    {
                        name: "Function",
                        render: function (data, type, row) {
                            return '<button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#speakerModal" onclick="showModalSpeaker(' + row.collectionItemID + ',\'' + row.name + '\', \'' + row.description + '\', \'' + row.imageUrl + '\')"><i class="fa fa-pencil"></i></button>     ' +
                                '<button class="btn btn-danger btn-sm speaker-id" data-toggle="modal" data-target="#deleteModal" onclick="delSpeaker(' + row.collectionItemID + ',\'' + row.name + '\')"><i class="fa fa-trash"></i></button>';
                        }
                    }
                ]
             });

             //Filestack dùng để up hình
             // Set up the picker
             const client = filestack.init('AIA0Qk3iTSGzr9dIsuPdgz');
             const options = {
                 onUploadDone: updateForm,
                 maxSize: 10 * 1024 * 1024,
                 accept: 'image/*',
                 uploadInBackground: false,
                 fromSources: ['local_file_system', 'imagesearch', 'facebook', 'instagram', 'dropbox', 'picasa', 'url']
             };
             const picker = client.picker(options);

             // Get references to the DOM elements

             const fileInput = document.getElementById('fileupload');
             const btn = document.getElementById('picker');
             const nameBox = document.getElementById('nameBox');
             const urlBox = document.getElementById('urlBox');

             // Add our event listeners

             btn.addEventListener('click', function (e) {
                 e.preventDefault();
                 picker.open();
             });



             // Helper to overwrite the field input value

             function updateForm(result) {
                 const fileData = result.filesUploaded[0];
                 fileInput.value = fileData.url;
                 if (fileInput.value != null) {
                     $('#thumbnail-container').val(fileInput.value);
                 }
                 // If file is resizable image, resize and embed it as a thumbnail preview
                 if (['jpeg', 'png'].indexOf(fileData.mimetype.split('/')[1]) !== -1) {
                     const container = document.getElementById('thumbnail-container');
                     const thumbnail = document.getElementById('thumbnail') || new Image();
                     thumbnail.id = 'thumbnail';
                     thumbnail.style = 'padding-top: 10px;';
                     thumbnail.src = client.transform(fileData.handle, {
                         resize: {
                             width: 200
                         }
                     });

                     if (!container.contains(thumbnail)) {
                         container.appendChild(thumbnail);
                     }
                 }
             }

        });

    </script>
}
<script src="~/Content/SpeakerJs/Speaker.js"></script>
