
@{
    ViewBag.Title = "Index";
    int eventId = ViewBag.EventId;
    string curPath = Request.Url.GetLeftPart(UriPartial.Authority) + Request.ApplicationPath;
}


<div class="container">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <div class="row">
                <h2 class="col-sm-10">Quản Lý Nhà Tài Trợ</h2>
                <div class="col-sm-2">
                    <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#addSponsorModal" style="margin-top:20px">
                        <i class="fa fa-plus" style="margin-right:7px" aria-hidden="true"></i>Thêm
                    </button>
                </div>
            </div>
            
        </div>

        <div class="ibox-content">
            <table class="table table-hover table-bordered" id="tblSponsor">
                <thead>
                    <tr>
                        <th>Tên</th>
                        <th>Miêu Tả</th>
                        <th>Hình Ảnh</th>
                        <th>Chức Năng</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

<!--Modal Add Sponsor-->
<div class="modal fade" id="addSponsorModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Thêm Nhà tài trợ</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="col-sm-3 form-control-label">Tên:</label>
                    <div class="col-sm-9 input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-briefcase" aria-hidden="true"></i>
                        </div>
                        <input id="newName" type="text" class="form-control" placeholder="Nhập tên nhà tài trợ">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 form-control-label">Miêu Tả:</label>
                    <div class="col-sm-9 input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-info" aria-hidden="true"></i>
                        </div>
                        <textarea id="newDescription" type="text" class="form-control" placeholder="Nhập miêu tả"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 form-control-label">Hình Ảnh:</label>
                    <div class="col-sm-9 input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-link" aria-hidden="true"></i>
                        </div>
                        <input id="newImageUrl" type="text" class="form-control" placeholder="Nhập đường dẫn hình ảnh">
                    </div>
                    <div class="col-sm-3"></div>
                    <div class="row col-sm-9">
                        <label>or</label>
                        <input type="file" id="myFile">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="btn-add" type="button" class="btn btn-primary" data-dismiss="modal" style="margin-top:5px">Thêm</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
            </div>
        </div>

    </div>
</div>

<!--Modal Update Sponsor-->
<div class="modal fade" id="sponsorModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Chỉnh Sửa Nhà tài trợ</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="col-sm-3 form-control-label">Tên:</label>
                    <div class="col-sm-9 input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-briefcase" aria-hidden="true"></i>
                        </div>
                        <input type="text" class="form-control sponsor-title">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 form-control-label">Miêu Tả:</label>
                    <div class="col-sm-9 input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-info" aria-hidden="true"></i>
                        </div>
                        <textarea type="text" class="form-control sponsor-description"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 form-control-label">Hình Ảnh:</label>
                    <div class="col-sm-9 input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-link" aria-hidden="true"></i>
                        </div>
                        <textarea type="text" class="form-control sponsor-image"></textarea>
                    </div>
                    <div class="col-sm-3"></div>
                    <div class="row col-sm-9">
                        <label>or</label>
                        <input type="file" id="myFile">
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button id="btn-save" type="submit" class="btn btn-primary sponsor-id" data-dismiss="modal" style="margin-top:5px">Lưu</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        var urlApi = '@curPath';
        var eventId = @eventId;

        function showModalSponsor(id, name, description, image) {
            $('.sponsor-title').val(name);
            $('.sponsor-description').val(description);
            $('.sponsor-image').val(image);
            $('.sponsor-id').val(id);
        }
        function delSponsor(id, name) {
            $('.sponsor-del-id').val(id);
            $('.sponsor-del-title').html("Delete Sponsor " + name);
        }

        $(document).ready(function () {
            $('#tblSponsor').DataTable({
                ajax: {
                    url: urlApi + "/api/sponsor/GetAllSponsorByEventId/" + eventId,
                    dataSrc: ""
                },
                columns: [
                    {
                        name: "Name",
                        render: function (data, type, row) {
                            return row.name;
                        }
                    },
                    {
                        name: "Description",
                        render: function (data, type, row) {
                            return row.description;
                        }
                    },
                    {
                        name: "Image",
                        render: function (data, type, row) {
                            return '<img src="' + row.imageUrl + '" alt="brand" class="img-fluid" style="width:260px; height:200px;">';
                        }
                    },
                    {
                        name: "Function",
                        render: function (data, type, row) {
                            return '<button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#sponsorModal" onclick="showModalSponsor(' + row.collectionItemID + ',\'' + row.name + '\', \'' + row.description + '\', \'' + row.imageUrl + '\')"><i class="fa fa-pencil"></i></button>     ' +
                                '<button class="btn btn-danger btn-sm sponsor-id" data-toggle="modal" data-target="#deleteModal" onclick="delSponsor(' + row.collectionItemID + ',\'' + row.name + '\')"><i class="fa fa-trash"></i></button>';
                        }
                    }
                ]
            });
        });
    </script>
}
<script src="~/Content/SponsorJs/Sponsor.js"></script>
