
@{
    ViewBag.Title = "Quản lý bình chọn";
    //int eventId = Int32.Parse(ViewContext.RouteData.Values["id"].ToString());
    int eventId = ViewBag.EventId;
    string curPath = Request.Url.GetLeftPart(UriPartial.Authority) + Request.ApplicationPath;
}

<div class="container">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <div class="row">
                <h2 class="col-sm-10">Bình Chọn</h2>
                <div class="col-sm-2">
                    <button class="btn btn-primary" type="submit" data-toggle="modal" data-target="#addVotingModal" style="margin-top:20px">
                        <i class="fa fa-plus" style="margin-right:7px" aria-hidden="true"></i>Thêm
                    </button>
                </div>
            </div>
        </div>
        <div class="ibox-content">
            <table class="table table-hover table-bordered" id="tblVoting">
                <thead>
                    <tr>
                        <th>Tên Bình Chọn</th>
                        <th>Số lượng bình chọn</th>
                        <th>Chức Năng</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

<!--Modal Add Voting-->
<div class="modal fade" id="addVotingModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Thêm Bình Chọn</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="col-sm-3 form-control-label">Tên:</label>
                    <div class="col-sm-9 input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-briefcase" aria-hidden="true"></i>
                        </div>
                        <input id="txt-voting-name" type="text" class="form-control" placeholder="Nhập tên bình chọn">
                    </div>
                    <p class="empty col-lg-offset-3" id="vote-name-error">Vui lòng nhập tên</p>
                </div>
                <div class="form-group form-option">
                    <label class="col-sm-3 form-control-label">Lựa Chọn:</label>
                    <div class="col-sm-9 input-group">

                    </div>
                </div>
                <div class="form-group group-option" id="group-option">

                    <div class="col-md-10 input-group option-item">
                        <input type="text" class="form-control voting-option-value" placeholder="Thêm lựa chọn">
                        <a class="input-group-btn btn btn-danger btn-remove-option"><i class="fa fa-times" aria-hidden="true"></i></a>
                    </div>



                </div>

                <div class="form-group">
                    <a class="btn btn-info btn-add-option" id="btn-add-option"><i class="fa fa-plus" aria-hidden="true"></i>Thêm lựa chọn</a>
                </div>
                <p class="empty col-lg-offset-3" id="vote-option-error">Vui lòng nhập giá trị cho các bình chọn</p>




            </div>
            <div class="modal-footer">
                <button id="btn-add-voting" type="button" class="btn btn-primary">Thêm</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
            </div>
        </div>

    </div>
</div>

<!-- Modal Update Voting -->
<div id="updateVotingModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Chỉnh Sửa Bình Chọn</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="col-sm-3 form-control-label">Tên:</label>
                    <div class="col-sm-9 input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-briefcase" aria-hidden="true"></i>
                        </div>
                        <input id="voting-name-update" type="text" class="form-control voting-name-update">
                        <input type="hidden" id="voting-update-id" value="" />
                    </div>
                    <p class="empty col-lg-offset-3" id="vote-name-error-edit">Vui lòng nhập tên bình chọn</p>

                </div>
                <div class="form-group form-option">
                    <label class="col-sm-3 form-control-label">Lựa Chọn:</label>
                    <div class="col-sm-9 input-group">

                    </div>
                </div>
                <div class="form-group group-option" id="group-option-update">


                </div>

                <div class="form-group">
                    <a class="btn btn-info btn-add-option-update" id="btn-add-option-update"><i class="fa fa-plus" aria-hidden="true"></i>Thêm Lựa Chọn</a>
                </div>
                <p class="empty col-lg-offset-3" id="vote-option-error-edit">Vui lòng nhập giá trị cho các bình chọn</p>

            </div>
            <div class="modal-footer">
                <button id="btn-update-voting" type="button" class="btn btn-primary">Lưu</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
            </div>
        </div>
    </div>
</div>

<!--Template Option-->
<div id="template-option">
    <div class="col-md-10 input-group option-item">
        <input type="text" class="form-control voting-option-value" placeholder="Nhập lựa chọn" value="">
        <a class="input-group-btn btn btn-danger btn-remove-option"><i class="fa fa-times" aria-hidden="true"></i></a>
        <input type="hidden" value="" class="voting-option-id" />
    </div>
</div>

<!--Template Option Update-->
<div id="template-option-update">
    <div class="col-md-10 input-group option-item">
        <input type="text" class="form-control voting-option-value-update" placeholder="Nhập lựa chọn" value="" data-id="">
        <a class="input-group-btn btn btn-danger btn-remove-option"><i class="fa fa-times" aria-hidden="true"></i></a>
    </div>
</div>



@section scripts {
    <script>
        var urlApi = '@curPath';
        var eventId = @eventId;
        $(document).ready(function () {
            $('#tblVoting').DataTable({
                "oLanguage": {
                    "sSearch": "Tìm kiếm",
                    "oPaginate": {
                        "sFirst": "Trang đầu",
                        "sLast": "Trang cuối",
                        "sNext": "Trang kế",
                        "sPrevious": "Trang trước"
                    },
                    "sInfoEmpty": "",
                    "sInfo": "Hiển thị từ dòng _START_ tới _END_ trong tổng số _TOTAL_ dòng",
                    "sZeroRecords": "Không có dữ liệu",
                    "sLengthMenu": "Hiển thị _MENU_ dòng"
                },
                ajax: {
                    url: urlApi + "/api/voting/GetVotingsByEventId/" + eventId,
                    dataSrc: ""
                },
                columns: [
                    {
                        name: "name",
                        render: function (data, type, row) {
                            return row.name;
                        }
                    },
                    {
                        name: "Description",
                        render: function (data, type, row) {
                            return row.numberOption;
                        }
                    },
                    {
                        name: "Function",
                        render: function (data, type, row) {
                            return '<button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#updateVotingModal" onclick="openUpdateModal(' + row.votingID + ')"><i class="fa fa-pencil"></i></button>     ' +
                                '<button class="btn btn-danger btn-sm btn-delete" onclick="deleteVoting(' + row.votingID + ')"><i class="fa fa-trash"></i></button>';
                        }
                    }
                ]
            });


            //Add new option
            $('#btn-add-option').on('click', function () {
                var templateOption = $('#template-option').clone();
                $('#group-option').append(templateOption.html());
            });

            //Remove option
            $(document).on('click', '.btn-remove-option', function () {
                $(this).parent('div.option-item').remove();
            });


            //Add Voting
            $(document).on('click', '#btn-add-voting', function () {
                
                clearErrorAddVoting();
                var isValid = true;
                var votingName = $('#txt-voting-name').val();
                var votingOptions = $('.voting-option-value');
                if (votingName.length == 0) {
                    $('#vote-name-error').css('display', 'block');
                    isValid = false;
                }
                for (var i = 0; i < votingOptions.length - 1; i++) {
                    
                    if ($(votingOptions[i]).val().length == 0) {
                        isValid = false;
                        $('#vote-option-error').css('display', 'block');
                        break;
                    }
                    
                }

                if (isValid) {
                    
                    var votingOptions = $('.voting-option-value');
                    var votingOptionsArr = [];
                    // length - 1 do có 1 input là template nên không sử dụng
                    for (var i = 0; i < votingOptions.length - 1; i++) {
                        var optionObj = {};
                        if ($(votingOptions[i]).val().length == 0) {
                            isValid = false;
                        }
                        optionObj.VotingOptionContent = $(votingOptions[i]).val();
                        optionObj.NumberOfVoting = 0;
                        votingOptionsArr.push(optionObj);
                    }

                    $.ajax({

                        url: urlApi + 'api/voting/AddVoting',
                        method: "POST",
                        data: {
                            VotingName: votingName,
                            EventId: eventId,
                            VotingOptions: votingOptionsArr
                        },
                        success: function (data) {
                            reloadTable();
                            swal("Thành Công!", "Bình chọn đã được thêm thành công", "success");
                            

                        },
                        error: function (data) {
                            console.log(data);
                        }
                    });
                    clearModalAddVoting();
                   
                    $('#addVotingModal').modal('hide');
                }
                else {
                    $('#btn-add-voting').attr('data-dismiss', null);
                }
            });



            //Add more option in update modal
            $('#btn-add-option-update').on('click', function () {
                var templateOption = $('#template-option-update').clone();
                $('#group-option-update').append(templateOption.html());
            });


            //Update voting
            $(document).on('click', '#btn-update-voting', function () {
                var votingId = $('#voting-update-id').val();
                var votingName = $('#voting-name-update').val();
                var votingOptionValues = $('.voting-option-value-update');


                var isValid = true;
                if (votingName.length === 0) {
                    isValid = false;
                    $('#vote-name-error-edit').css('display', 'block');

                }
                for (var i = 0; i < votingOptionValues.length - 1; i++) {

                    if ($(votingOptionValues[i]).val().length == 0) {
                        isValid = false;
                        $('#vote-option-error-edit').css('display', 'block');
                        break;
                    }

                }

                if (isValid) {
                    var votingOptionArr = [];
                    // do input cuối cùng là template nên không sử dụng
                    for (var i = 0; i < votingOptionValues.length - 1; i++) {
                        var optionObj = {};
                        optionObj.VotingOptionId = $(votingOptionValues[i]).attr('data-id');
                        optionObj.VotingOptionContent = $(votingOptionValues[i]).val();
                        optionObj.VotingId = votingId;
                        votingOptionArr.push(optionObj);

                    }
                    var votingUpdate = {
                        VotingId: votingId,
                        VotingName: votingName,
                        VotingOptions: votingOptionArr
                    };
                    $.ajax({
                        url: urlApi + 'api/voting/UpdateVoting',
                        method: "POST",
                        data: votingUpdate,
                        success: function (data) {
                            swal("Thành Công!", "Bình chọn đã được cập nhật thành công", "success");
                            reloadTable();
                        },
                        error: function (data) {
                            console.log(data);
                        }
                    });
                    $('#updateVotingModal').modal('hide');

                }

                


            });
        });

        function reloadTable() {
            $('#tblVoting').DataTable().ajax.reload();
        }

        function openUpdateModal(id) {
            clearErrorEditVoting();
            $.ajax({
                url: urlApi + 'api/voting/GetVotingById',
                method: "POST",
                data: {
                    VotingId: id
                },
                success: function (data) {
                    $('#voting-update-id').val(id);
                    $('#group-option-update').html("");
                    var templateOption = $('#template-option-update').clone();
                    $('#voting-name-update').attr('value', data.data.Name);
                    for (var i = 0; i < data.data.VotingOptions.length; i++) {
                        templateOption.find('.voting-option-value-update').attr('value', data.data.VotingOptions[i].VotingOptionContent);
                        templateOption.find('.voting-option-value-update').attr('data-id', data.data.VotingOptions[i].VotingOptionId);
                        $('#group-option-update').append(templateOption.html());
                    }
                },
                error: function (data) {
                    console.log(data);
                }
            });
        }

        function deleteVoting(id) {
            swal({
                title: "Bạn có chắc?",
                text: "Bạn sẽ không thể phục hồi lại!",
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn-danger",
                confirmButtonText: "Xóa!",
                cancelButtonText: "Không!",
                closeOnConfirm: false
            },
                function () {
                    $.ajax({
                        url: urlApi + 'api/voting/DeleteVoting',
                        method: "POST",
                        data: {
                            VotingId: id,

                        },
                        success: function (data) {
                            reloadTable();
                            swal("Xóa!", "Cuộc bình chọn đã được xóa thành công", "success");
                        },
                        error: function (data) {
                            console.log(data);
                            swal("Lỗi", "Cuộc bình chọn này đã được chọn làm mẫu cho tương tác", "error");
                        }
                    });
                });
        }

        function clearModalAddVoting() {
            $('#txt-voting-name').val("");
            $('#group-option').empty();
            $('#group-option').append($('#template-option').clone().html());
        }

        function clearErrorAddVoting() {
            $('#vote-name-error').css('display', 'none');
            $('#vote-option-error').css('display', 'none');
        }

        function clearErrorEditVoting() {
            $('#vote-name-error-edit').css('display', 'none');
            $('#vote-option-error-edit').css('display', 'none');
        }
    </script>
}
