.image-file-custom {
}

.box-file-shadow {
    /*box-shadow: 5px 10px 20px 7px #888888;*/
    width: 68.56px;
    margin-left: 5px;
    margin-top: 5px;
    margin-right: 5px;
}

@media screen and (max-width: 600px) {
    .image-file-custom {
        width: 100%;
        height: auto;
    }

    .box-file-shadow {
        padding-top: 15px;
        /*width: 68.56px;*/
        /*box-shadow: 5px 10px 20px 7px #888888;*/
    }

    .modal-file {
        margin-top:70px;
    }
}

.collection-empty-title {
    margin-top: 20px;
    text-align: center;
}

.file-description {
    padding-top: 25px;
    font-size: 16px;
}

.file-title {
    font-size: 20px;
}
.file-name-text {
    padding-top:5px;
    text-align: center;
    font-size:12px;
}
.icon-color{
    color:grey;
}
