.event-banner {
    position: relative;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 30px;
}
.event-banner-image {
    width: 100%;
    height: auto;
}
.event-name {
    padding: 10px 20px;
    font-size: 1em;
}
.event-header {
    position: absolute;
    bottom: 15px;
    background: rgba(12, 12, 12, 0.5);
}
.event-card-content {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: white;
    border: 1px solid #dbdee0;
    margin-bottom: 15px;
    padding: 20px;
}