.nicescroll-cursors {
    background-color:unset !important;
}

.message-error h6{
    color:red;
    text-align:center;
}

.message-error {
    width:100%;
    margin-bottom:10px;
    display:none;
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}

.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#txt-code-login {
    text-align: center;
}

.container-loader {
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
    background-color: rgba(128,128,128,0.6);
    display:none;
}

.error-livestream-title {
    text-align: center;
    
}

.narbar-custom {
    background: #005f75 !important;
}

.side-navbar-custom {
    background: #005f75 !important;
}

.sidenav-header-custom {
    background: #458ca4 !important;
    padding:7px !important;
}

.btn-custom-defaul {
    background-color: #fecb24;
    color:black;
    font-weight:bold;
}

.login-form-container {
    background-color: #fecb24;
    color: black;
    opacity:1;
}
/*.custom-row {
    padding-left: 16%;
}*/

.event-title {
    color:white;
    font-weight:bold;
    font-size:24px;
    text-align:center;
}

@media screen and (max-width: 600px) {
    .custom-row {
        padding-left: unset;
    }
    .event-title {
       
        font-size: unset;
    }
}

.menu-active {
    background: #65b7ab;
}
