.btn-lastest-question {
    margin-right:10px;
}

.list-qa {
    width:100%;
    margin-bottom:20px;
}
.list-answer {
    height: unset;
    /*background-color: wheat;*/
    /*border-radius: 60px;*/
    margin-left: 35px;
}

.main-qa {
    /*background-color: wheat;*/
    /*border-radius: 35px;*/
    padding-left: 30px;
}

.like-rep {
    color:unset;
}

.btn-reply {
    cursor:pointer;
}

.error-qa-title {
    font-weight:bold;
    margin-top:20px;
}

.btn-post-question {
    margin-bottom: 20px;
    margin-top: 20px;
}