@{
    ViewBag.Title = "Sponsor";
}

@using HmsService.Models.Entities;
@model EventCollection

@if (Model == null || Model.CollectionItems == null)
{
    <div class="collection-empty-title">
        <h3>Hiện tại chưa có danh sách nhà tài trợ</h3>
    </div>

}
else
{
    <div class="row" style="padding-top: 64px;">
        @{
            foreach (var sponsor in Model.CollectionItems)
            {
                <div class="col-md-4 col-sm-6 col-12" onclick="showModalSponsor('@(sponsor.Name)', '@(sponsor.Description)', '@(sponsor.ImageUrl)')">
                    <div class="box-sponsor-shadow">
                        <a href="" id="speaker-modal" data-toggle="modal" data-target="#sponsorModal">
                            <img src="@(sponsor.ImageUrl)" alt="brand" class="img-fluid image-sponsor-custom">
                        </a>
                    </div>
                </div>

            }
        }

    </div>
}

<div id="sponsorModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sponsor">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title sponsor-name"></h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <img class="sponsor-img image-sponsor-custom"/>
                <p class="sponsor-description"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        function showModalSponsor(name, description, imgUrl) {
            $('.sponsor-name').html(name);
            $('.sponsor-description').html(description);
            $('.sponsor-img').attr('src', imgUrl);

        }
    </script>
}

