@{
    ViewBag.Title = "Sponsor";
}

@using HmsService.Models.Entities;
@model Event

@{
    var listSponsor = Model.EventCollections.FirstOrDefault(e => e.EventCollectionID == 3).CollectionItems;

}
<div class="row">
    @{
        int i = 0;
        foreach (var item in listSponsor)
        {
            <div class="col-md-3 col-sm-6 col-12">
                <div class="sponsonrs-box">
                    <a href="#">
                        <img src="@(item.ImageUrl)" alt="brand" class="img-fluid">
                    </a>
                </div>
            </div>
            i++;
        }
    }

</div>

