
@{
    Layout = null;
    string curPath = Request.Url.GetLeftPart(UriPartial.Authority) + Request.ApplicationPath;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Join.vn</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/Content/img/LogoMakr_6CVPn5.png" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap/Login_v12/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap/Login_v12/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap/Login_v12/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap/Login_v12/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap/Login_v12/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap/Login_v12/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap/Login_v12/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap/Login_v12/css/main.css">

    <!--===============================================================================================-->
    <!--Custom CSS-->
    <link rel="stylesheet" type="text/css" href="~/Content/CustomCss/main.css">
</head>
<body>
    <div class="container-loader">
        <div class="loader">
            <span class="loader-block"></span>
            <span class="loader-block"></span>
            <span class="loader-block"></span>
            <span class="loader-block"></span>
            <span class="loader-block"></span>
            <span class="loader-block"></span>
            <span class="loader-block"></span>
            <span class="loader-block"></span>
            <span class="loader-block"></span>
        </div>
    </div>
    
    <div class="limiter">
        <div class="container-login100" style="background-color:#005f75;padding-top:15px;left:unset!important;">
            <div style="padding-top: 60px; width:100%;">
                <img src="~/Content/img/LogoMakr_6CVPn5.png" style="width:220px;height:200px;" />
                <p class="intro-title">Nền tảng tương tác trong sự kiện</p>
            </div>
            
            <div class="wrap-login100 p-b-30" style="left:unset!important">
                <div class="login100-form validate-form" id="div-section">
                    <div class="message-error">
                        <h6>Code không đúng, vui lòng nhập lại</h6>
                    </div>
                    <div class="wrap-input100 validate-input m-b-10" data-validate="Vui Lòng Nhập Mã Tham Gia">
                        <input value="" class="input100" id="txt-code-login" type="text" name="pass" placeholder="Vui Lòng Nhập Mã Tham Gia">
                    </div>
                    <div class="container-login100-form-btn p-t-10 ">
                        <button class="login100-form-btn login-form-container" id="btn-check-code">
                            Đăng nhập
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!--===============================================================================================-->
    <script src="~/Content/bootstrap/Login_v12/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/bootstrap/Login_v12/vendor/bootstrap/js/popper.js"></script>
    <script src="~/Content/bootstrap/Login_v12/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/bootstrap/Login_v12/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/bootstrap/Login_v12/js/main.js"></script>
    <script src="~/Content/bootstrap/Login_v12/js/Animation.js"></script>

</body>
</html>
<script>
    $(document).ready(function () {
        var urlApi = '@curPath';
        
        //Check Code
        $('#btn-check-code').on('click', function () {
            $('.container-loader').css('display', 'block');
            var code = $('#txt-code-login').val();
            if (code.length != 0) {
                $.ajax({
                    url: urlApi + 'api/login/CheckCodeLogin/' + code,
                    method: "POST",
                    success: function (data) {
                        if (data.eventId != 0) {
                            $('.message-error').css('display', 'none');
                            $('.container-loader').css('display', 'none');
                            window.location.href = urlApi + "Session/Index/" + data.eventId;
                        }
                        else {
                            $('.message-error').css('display', 'block');
                            $('#txt-code-login').val("");
                            $('.container-loader').css('display', 'none');
                        }  
                    },
                    error: function (data) {
                        $('.message-error').css('display', 'block');
                        $('#txt-code-login').val("");
                        $('.container-loader').css('display', 'none');
                        console.log(data);
                    }
                });
            }
            
        });

    });
</script>
