
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_LayoutEvent.cshtml";
    string curPath = Request.Url.GetLeftPart(UriPartial.Authority) + Request.ApplicationPath;
}

<div class="col-lg-offset-2 col-md-8">
    <div class="box box-info box-add-event">
        <div class="box-header with-border">
            <h3 class="box-title">Thêm mới sự kiện</h3>
        </div>
        <div class="form-horizontal">
            <div class="box-body">
                <div class="form-group">
                    <label class="col-md-2 control-label">Tên sự kiện</label>
                    <div class="col-md-10">
                        <input id="event-name" type="text" class="form-control" placeholder="Vui lòng nhập tên của sự kiện" />
                        <p class="error-title" id="errorNameAdd">Vui lòng nhập tên sự kiện</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Miêu tả sự kiện</label>
                    <div class="col-md-10">
                        <input id="event-description" type="text" class="form-control" placeholder="Vui lòng nhập miêu tả của sự kiện" />
                        <p class="error-title" id="errorDesAdd">Vui lòng nhập miêu tả sự kiện</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Thời gian diễn ra</label>
                    <div class="col-md-10">
                        <input id="event-time-range" type="text" class="form-control" placeholder="Vui lòng nhập tên sự kiện" />
                        <p class="error-title" id="errorTimeAdd">Vui lòng chọn thời gian diễn ra sự kiện</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Địa chỉ</label>
                    <div class="col-md-10">
                        <input id="event-address" type="text" class="form-control" placeholder="Vui lòng nhập địa chỉ sự kiện" />
                        <p class="error-title" id="errorAddressAdd">Vui lòng nhập địa chỉ sự kiện</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Kinh độ</label>
                    <div class="col-md-10">
                        <input type="text" id="txtLat" class="form-control" placeholder="Vui lòng nhập kinh độ của địa điểm diễn ra sự kiện" />
                        <input type="text" id="txtLng" class="form-control" placeholder="Vui lòng nhập vĩ độ của địa điểm diễn ra sự kiện" />
                        <p class="error-title" id="errorLatLngAdd">Vui lòng chọn vị trí nơi diễn ra sự kiện trên bản đồ</p>
                    </div>
                    <div id="map-canvas" style="width:100%; height:500px;"></div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label">Mã đăng nhập</label>
                    <div class="col-md-10">
                        <input id="event-code" type="text" class="form-control" placeholder="Vui lòng nhập mã đăng nhập của sự kiện" />
                        <p class="note-brief-name">Ghi chú: Mã đăng nhập là số</p>
                        <p class="error-title" id="errrorCodeAdd">Vui lòng nhập mã đăng nhập sự kiện</p>
                        <p class="error-title" id="errrorCodeAddFormat">Mã đăng nhập sự kiện là số</p>
                        <p class="error-title" id="errrorCodeAddExist">Mã đăng nhập đã tồn tại, vui lòng nhập mã khác</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Tên đường dẫn</label>
                    <div class="col-md-10">
                        <input id="brief-name" type="text" class="form-control" placeholder="Vui lòng nhập tên đường dẫn của sự kiện" />
                        <p class="note-brief-name">Ghi chú: Tên đường dẫn là gồm chữ không dâu cách nhau bằng dấu gạch ngang</p>
                        <p class="error-title" id="errorBriefNameAdd">Vui lòng nhập tên đường dẫn sự kiện</p>
                        <p class="error-title" id="errrorExistBriefNameAdd">Tên đường dẫn sự kiện đã tồn tại, vui lòng nhập tên khác</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Hình đại diện</label>
                    <div class="col-md-10">
                        <div class="field">
                            <div class="control">
                                <button class="button" type="button" id="picker">Chọn file</button>
                                <input type="hidden" id="fileupload">
                                <p>* Kích cỡ hình: 1920 x 1080</p>
                            </div>
                        </div>
                        <div id="thumbnail-container"></div>
                        <p class="error-title" id="errrorImageAdd">Vui lòng chọn hình đại sự kiện</p>
                    </div>

                </div>
            </div>
            <div class="box-footer">
                <button class="btn btn-primary pull-right" id="btn-add-event">Lưu</button>
                <a href="@Url.Action("Index","Events")" class="btn btn-danger pull-right margin-r-5">Hủy</a>
            </div>
        </div>

    </div>

</div>


@section scripts {
    <!--Google Map-->
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBI3acHx7HKksgtOFzCXC7BULOxXcmS-AE&callback=initMap">
    </script>
    <script>
        $(document).ready(function () {
            var urlApi = '@curPath';

            $('#event-time-range').daterangepicker({
                locale: {
                    format: 'DD/MM/YYYY'
                },
                startDate: moment(),
                minDate: moment()
            });

            clearError();

            //Add event
            $('#btn-add-event').on('click', function () {
                clearError();
                var isValid = true;
                var eventName = $('#event-name').val();
                var eventDescription = $('#event-description').val();
                var eventAddress = $('#event-address').val();
                var eventLoginCode = $('#event-code').val();
                var imageUrl = $('#fileupload').val();
                var lat = $('#txtLat').val();
                var lng = $('#txtLng').val();
                var briefName = $('#brief-name').val();
                var startEndTime = $('#event-time-range').val();
                if (eventName.length === 0) {
                    $('#errorNameAdd').css('display', 'block');
                    isValid = false;
                }
                if (eventDescription.length === 0) {
                    $('#errorDesAdd').css('display', 'block');
                    isValid = false;
                }
                if (eventAddress.length === 0) {
                    $('#errorAddressAdd').css('display', 'block');
                    isValid = false;
                }
                if (eventLoginCode.length === 0) {
                    $('#errrorCodeAdd').css('display', 'block');
                    isValid = false;
                }
                else {
                    if (Math.floor(eventLoginCode) == eventLoginCode && $.isNumeric(eventLoginCode)) {

                    }
                    else {
                        isValid = false;
                        $('#errrorCodeAddFormat').css('display', 'block');
                    }
                }
                if (imageUrl.length === 0) {
                    $('#errrorImageAdd').css('display', 'block');
                    isValid = false;
                }
                if (lat.length === 0) {
                    $('#errorLatLngAdd').css('display', 'block');
                    isValid = false;
                }
                if (lng.length === 0) {
                    $('#errorLatLngAdd').css('display', 'block');
                    isValid = false;
                }
                if (startEndTime.length === 0) {
                    $('#errorTimeAdd').css('display', 'block');
                    isValid = false;
                }
                if (briefName.length === 0) {
                    $('#errorBriefNameAdd').css('display', 'block');
                    isValid = false;
                }

                briefName = change_alias(briefName);

                if (isValid) {
                    var eventTimeSplit = $('#event-time-range').val().split('-');
                    var startTime = eventTimeSplit[0].trim().split('/').reverse().join('-');
                    var endTime = eventTimeSplit[1].trim().split('/').reverse().join('-');

                    $.ajax({
                        url: '@Url.Action("AddNewEvent", "Events")',
                        method: "POST",
                        data: {
                            Name: eventName,
                            EventDescription: eventDescription,
                            Address: eventAddress,
                            CodeLogin: eventLoginCode,
                            StartTime: startTime,
                            EndTime: endTime,
                            ImageURL: imageUrl,
                            Latitude: lat,
                            Longitude: lng,
                            BriefName: briefName
                        },
                        success: function (data) {
                            clearError();
                            if (data.success) {
                                swal({
                                        title: "Thành công!",
                                        text: "Thêm mới sự kiện thành công",
                                        type: "success"
                                     },
                                    function () {
                                    window.location.replace('@Url.Action("Index", "Events")');
                                });
                            }
                            else if (data.success == false) {
                                if (data.isExistBriefName != null) {
                                    $('#errrorExistBriefNameAdd').css('display', 'block');
                                }
                                if (data.isCodeLoginExist != null) {
                                    $('#errrorCodeAddExist').css('display', 'block');
                                }
                            }



                        },
                        error: function (data) {
                            console.log(data);
                        }
                    });
                }


            });






            //Filestack dùng để up hình
            // Set up the picker
            const client = filestack.init('AR6JpPavASZ2lDWwopoMNz');
            const options = {
                onUploadDone: updateForm,
                maxSize: 10 * 1024 * 1024,
                accept: 'image/*',
                uploadInBackground: false,
                fromSources: ['local_file_system', 'imagesearch', 'facebook', 'instagram', 'dropbox', 'picasa', 'url']
            };
            const picker = client.picker(options);

            // Get references to the DOM elements

            const form = document.getElementById('pick-form');
            const fileInput = document.getElementById('fileupload');
            const btn = document.getElementById('picker');
            const nameBox = document.getElementById('nameBox');
            const urlBox = document.getElementById('urlBox');

            // Add our event listeners

            btn.addEventListener('click', function (e) {
                e.preventDefault();
                picker.open();
            });



            // Helper to overwrite the field input value

            function updateForm(result) {
                const fileData = result.filesUploaded[0];
                fileInput.value = fileData.url;

                // If file is resizable image, resize and embed it as a thumbnail preview
                if (['jpeg', 'png'].indexOf(fileData.mimetype.split('/')[1]) !== -1) {
                    const container = document.getElementById('thumbnail-container');
                    const thumbnail = document.getElementById('thumbnail') || new Image();
                    thumbnail.id = 'thumbnail';
                    thumbnail.src = client.transform(fileData.handle, {
                        resize: {
                            width: 200
                        }
                    });

                    if (!container.contains(thumbnail)) {
                        container.appendChild(thumbnail);
                    }
                }
            };
        });

        // Initialize and add the map
        function initMap() {
            var map;
            var myLatlng = { lat: 10.8528727, lng: 106.629381 };

            var myOptions = {
                zoom: 13,
                center: myLatlng,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            }
            map = new google.maps.Map(document.getElementById("map-canvas"), myOptions);

            var marker = new google.maps.Marker({
                draggable: true,
                position: myLatlng,
                map: map,
                title: "Your location"
            });

            google.maps.event.addListener(map, 'click', function (event) {
                var lat = event.latLng.lat();
                var lgn = event.latLng.lng();
                //var split = latLgn.split(',');
                $('#txtLat').val(lat);
                $('#txtLng').val(lgn);
                marker.setMap(null);
                var newPosition = { lat: lat, lng: lgn };
                marker = new google.maps.Marker({
                    draggable: true,
                    position: newPosition,
                    map: map,
                    title: "Your location"
                });
            });


        }

        function clearError() {
                $('#errorNameAdd').css('display', 'none');
                $('#errorDesAdd').css('display', 'none');
                $('#errorAddressAdd').css('display', 'none');
                $('#errrorCodeAdd').css('display', 'none');
                $('#errrorImageAdd').css('display', 'none');
                $('#errorLatLngAdd').css('display', 'none');
                $('#errorTimeAdd').css('display', 'none');
                $('#errrorCodeAddFormat').css('display', 'none');
                $('#errrorExistBriefNameAdd').css('display', 'none');
                $('#errorBriefNameAdd').css('display', 'none');
                $('#errrorCodeAddExist').css('display', 'none');
        }

    </script>
}

